<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body class = "">
        <header>
            <div class="">
                <h2>
                    Dojos and Ninjas
                </h2>
            </div>
        </header>
        <main>
            <div class="" id="leftSideContainer">
                <div class="">
                    <h3>
                        New Dojo
                    </h3>
                </div>
                <form action="/" method="POST" class="">
                    <div class="mb-3">
                        <label class="form-label" for="first_name">Name: </label>
                        <input class="form-control" type="text" name="first_name" id="first_name" placeholder="Insert your name here!">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-primary mb-3" type="submit" value="Create" name="buttonSubmitForm" id="buttonSubmitForm">
                    </div>
                </form>
            </div>
            <div class="" id="leftSideContainer">
                    <div class="">
                        <h3>
                            All Dojos
                        </h3>
                    </div>
                <form action="">
                    <div class="">
                        {% for dojo in dojos %}
                            <div class="">
                                <!-- <a class="text-white" href="/dojos/{{dojo.id}}">{{dojo.name}}</a> -->
                            </div>
                        {% endfor %}
                    </div>
                </form>
                <div class="">
                    <a class="" href="">Add Ninja</a>
                </div>
            </div>
        </main>
    </body>
</html>