<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dojo</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    </head>
    <body style="padding: 10% 25%;">
        <header>
            <div class="">
                <h2>
                    Dojos and Ninjas
                </h2>
            </div>
        </header>
        <main>
            <div class="" id="leftSideContainer">
                <div class="">
                    <h4>
                        New Dojo
                    </h4>
                </div>
                <form action="/dojos/create" method="POST" class="">
                    <div class="mb-3">
                        <label class="form-label" for="dojos_name">Name: </label>
                        <input class="form-control" type="text" name="dojos_name" id="dojos_name" placeholder="Insert the name of your dojo here!">
                    </div>
                    <div class="col-auto">
                        <input class="btn btn-primary mb-3" type="submit" value="Create" name="buttonSubmitForm" id="buttonSubmitForm">
                    </div>
                </form>
            </div>
            <div class="" id="leftSideContainer">
                    <div class="">
                        <h4>
                            All Dojos
                        </h4>
                    </div>
                <form action="/" method="GET">
                    <table class="table table-dark table-striped">
                        <thead style="align-items: center; justify-content: center; text-align: center;">
                            <td class="col-auto px-5">
                                List of dojos
                            </td>
                        </thead>
                        <tbody>
                            {% for dojo in dojos: %}
                                <tr>                   
                                    <td class="" style="align-items: center; justify-content: center; text-align: center;">
                                        <a href="/dojo/ninjas/{{dojo['dojos_id']}}">{{dojo['dojos_name']}}</a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </form>
                <div class="">
                    <a class="" href="/ninjas">Add Ninja</a>
                </div>
            </div>
        </main>
    </body>
</html>